/****** Script do comando SelectTopNRows de SSMS  ******/
SELECT TOP 1000 [F1]
      ,[F2]
      ,[F3]
      ,[F4]
      ,[F5]
      ,[F6]
      ,[F7]
      ,[F8]
      ,[F9]
      ,[F10]
      ,[F11]
      ,[F12]
      ,[F13]
      ,[F14]
      ,[F15]
      ,[F16]
      ,[F17]
      ,[F18]
      ,[F19]
      ,[F20]
      ,[F21]
  FROM [Funadamentus_Outros].[dbo].[Fundamentus_outros]